In [ ]:
import os 
from glob import glob
import pandas as pd

In [ ]:
# glob 함수를 이용하여  파일의 목록을 가지고 온다. 
print(os.listdir('../../csv/2021/'))
# glob의 path는 경로와 어떠한 파일들을 가지고올것인가를 같이 작성
print(glob("../../csv/2021/202101_expense_list.*"))

In [ ]:
# glob 라이브러리를 이용하여 특정 경로에 있는 파일을 모두 로드 
# 로드 한 파일들을 각각 변수에 대입 
file_path = "../../csv/num_3/"

# glob를 이용하여 파일의 목록을 불러온다. 
file_list = glob(file_path+'*.*')

file_list

In [ ]:
# file_list에서 파일 로드 
# 확장자에 따라서 read_함수를 다르게 사용
# 경로와 파일의 이름을 나눠주는 함수를 사용
file = file_list[1]
# os.path.split() 함수의 결과가 2개의 데이터를 되돌려주고
# path라는 변수와 name이라는 변수에 데이터를 하나씩 대입
path, name = os.path.split(file)
# print(path)
# print(name)
# 파일의 풀네임에서 파일명과 확장자를 나눠주는 함수를 이용
head, tail = os.path.splitext(name)

In [ ]:
if tail == '.csv':
    df = pd.read_csv(file)
elif tail == '.tsv':
    df = pd.read_csv(file, sep='\t')
else:
    print('지원하지 확장자')

In [ ]:
df

In [ ]:
# file_list 목록의 모든 파일을 로드해서 각각 전역변수에 대입
# 비어있는 리스트를 생성해서 데이터프레임을 추가 -> 전역변수 하나 생성
dfs = []
for file in file_list:
    # file을 경로와 이름으로 나눠준다. 
    path, name = os.path.split(file)
    # name에서 파일의 이름과 확장자로 나눠준다. 
    head, tail = os.path.splitext(name)
    # tail에 따라서 read_함수를 지정한다. 
    if tail == '.csv':
        df = pd.read_csv(file)
    elif tail == '.tsv':
        df = pd.read_csv(file, sep='\t')
    elif tail == '.json':
        df = pd.read_json(file)
    elif tail == '.xml':
        df = pd.read_xml(file)
    elif tail in ['.xlsx', '.xls']:
        df = pd.read_excel(file)
    else:
        print('지원하지 않는 확장자')
        df = pd.DataFrame()
    if len(df) > 0:
        dfs.append(df)

dfs

In [ ]:
dfs[4]

In [ ]:
# globals()에 key:value의 방법으로 전역변수를 추가 
for file in file_list:
    path, name = os.path.split(file)
    head, tail = os.path.splitext(name)
    # head의 값을 변수의 이름으로 사용용
    if tail == '.csv':
        df = pd.read_csv(file)
    elif tail == '.tsv':
        df = pd.read_csv(file, sep='\t')
    elif tail == '.json':
        df = pd.read_json(file)
    elif tail == '.xml':
        df = pd.read_xml(file)
    elif tail in ['.xlsx', '.xls']:
        df = pd.read_excel(file)
    else:
        print('지원하지 않는 확장자')
    # df의 복사본을 head 파일의 이름 변수에 대입 
    # df가 존재하지 않는 else 구문이 존재 
    # 시도를 하고 에러가 발생한다면? -> 예외처리
    try:
        globals()[head] = df.copy()
    except:
        print('df가 존재하지 않음')

In [ ]:
class_master

In [ ]:
campaign_master

In [ ]:
chipotle

### 함수화 
1. 함수의 이름 dir_load
    - 매개변수 
        - file_path -> 필수 항목(기본값이 X)
        - file_tail -> 기본값(*.*)
        - engine -> 기본값(utf-8)
2. file_path와 file_tail를 이용하여 파일의 목록(file_list) 생성 
3. 반복문을 이용하여 file_list를 반복한다. 
    - file의 경로와 파일 이름을 나눠준다. 
    - 파일의 이름에서 확장자 부분을 나눠준다. 
    - 확장자에 따라서 read_함수를 지정한다.
    - read_함수의 결과를 파일의 이름을 가지고 전역변수로 생성 
    - print()함수를 이용해서 만들어진 전역 변수가 무엇인지 출력해준다
4. 리턴 데이터는 만들어진 전역변수의 개수를 되돌려준다.

In [32]:
def dir_load( file_path, file_tail = '*.*', engine = 'cp949'):
    # file_path와 file_tail 입력이 되는 
    # 인자값을 이용하여 파일의 목록을 생성
    # file_path = "../../csv/num_3/*.*"
    # file_path 매개변수 -> ../../csv/num_3, ../../csv/num_3/
    # file_tail -> csv -> "*." + file_tail -> *.csv
    # 만약에 file_tail이 *.*이 아니라면(같지 않다)?
    if file_tail != '*.*':
        file_tail = "*." + file_tail
    # glob()를 이용하여 파일의 목록을 로드 
    file_list = glob(file_path + '/' + file_tail)

    # 반복문이 몇번 반복했는가를 알기 위해 숫자 0을 변수에 저장
    cnt = 0
    for file in file_list:
        # file를 경로와 파일의 이름으로 나눠준다. 
        path, name = os.path.split(file)
        # name = os.path.split(file)[1]
        # name에서 이름과 확장자로 나눠준다. 
        head, tail = os.path.splitext(name)
        # head -> 전역변수의 이름 
        # tail -> 확장자로 read함수를 지정하기 위해 사용
        if tail == '.csv':
            # globals()[head] = pd.read_csv(file, encoding = engine)
            try:
                df = pd.read_csv(file, encoding='utf-8')
            except:
                df = pd.read_csv(file, encoding=engine)
        elif tail == '.tsv':
            try:
                df = pd.read_csv(file, sep='\t')
            except:
                df = pd.read_csv(file, sep='\t', encoding=engine)
        elif tail == '.json':
            try:
                df = pd.read_json(file)
            except:
                df = pd.read_json(file, encoding=engine)
        elif tail == '.xml':
            try:
                df = pd.read_xml(file)
            except:
                df = pd.read_xml(file, encoding=engine)
        elif tail in ['.xlsx', '.xls']:
            df = pd.read_excel(file)
        try : 
            # head를 이용하여 전역변수를 생성하고 df의 복사본을 대입
            globals()[head] = df.copy()
            # 전역변수가 생성이 되었기 때문에 cnt를 1 증가시킨다. 
            cnt += 1
            # 전역변수가 생성되었다는것을 print()를 이용하여 출력 
            print(f"{cnt}번째 전역 변수가 생성 : {head}")
        except:
            print(f"{tail} 확장자는 지원하기 않은 확장자입니다.")
    # 함수를 종료하기 위해 전역변수가 생성된 횟수인 cnt 되돌려준다. 
    return cnt

In [33]:
# "../../csv/num_3"를 인자로 사용하여 함수를 테스트
dir_load('../../csv/num_3')

1번째 전역 변수가 생성 : campaign_master
2번째 전역 변수가 생성 : chipotle
3번째 전역 변수가 생성 : class_master
4번째 전역 변수가 생성 : customer_master
5번째 전역 변수가 생성 : use_log

5

In [34]:
dir_load('../../csv')

1번째 전역 변수가 생성 : 2014
2번째 전역 변수가 생성 : AAPL
3번째 전역 변수가 생성 : AMZN
4번째 전역 변수가 생성 : BND
5번째 전역 변수가 생성 : campaign_master
6번째 전역 변수가 생성 : class_master
7번째 전역 변수가 생성 : corona
8번째 전역 변수가 생성 : csv_exam
9번째 전역 변수가 생성 : customer_master
10번째 전역 변수가 생성 : dept
11번째 전역 변수가 생성 : drinks
12번째 전역 변수가 생성 : emp
13번째 전역 변수가 생성 : example
14번째 전역 변수가 생성 : GDX
15번째 전역 변수가 생성 : GLD
16번째 전역 변수가 생성 : GM
17번째 전역 변수가 생성 : item_master
18번째 전역 변수가 생성 : Koweps
19번째 전역 변수가 생성 : Koweps_Codebook
20번째 전역 변수가 생성 : Koweps_hpc10_2015_beta1
21번째 전역 변수가 생성 : MSFT
22번째 전역 변수가 생성 : Sales Records
23번째 전역 변수가 생성 : SLV
24번째 전역 변수가 생성 : SPY
25번째 전역 변수가 생성 : tran_1
26번째 전역 변수가 생성 : tran_2
27번째 전역 변수가 생성 : tran_d_1
28번째 전역 변수가 생성 : tran_d_2
29번째 전역 변수가 생성 : uriage
30번째 전역 변수가 생성 : use_log
31번째 전역 변수가 생성 : USM
32번째 전역 변수가 생성 : 주민등록

32

In [ ]:
AAPL

In [37]:
globals()['2014']

          구분  사고(건)  사망(명)  부상(명)
0    2014년1월    169      7    347
1    2014년2월    145      3    268
2    2014년3월    206     12    358
3    2014년4월    182      4    360
4    2014년5월    218     17    474
5    2014년6월    233     13    457
6    2014년7월    229     14    431
7    2014년8월    222      9    447
8    2014년9월    225     15    430
9   2014년10월    210     14    392
10  2014년11월    209     10    386
11  2014년12월    178     12    329