In [ ]:
import pandas as pd

In [ ]:
# csv폴더에 있는 uriage.csv 파일을 로드 
uriage = pd.read_csv("../../csv/uriage.csv")

In [ ]:
# 데이터프레임의 정보를 확인 
uriage.info()

In [ ]:
# 상위의 데이터 5개
uriage.head()

In [ ]:
uriage.describe()

In [ ]:
# item_name 컬럼의 데이터에서 문제
# 1. 대 소문자를 통일 ( upper() | lower() )
# 2. 문자열 사이에 있는 공백을 제거  ( replace() )

#  uriage 데이터프레임에서 item_name의 데이터를 모두 대문자로 변경
# uriage.loc[ : , 'item_name']
uriage[ 'item_name' ][2]
type(uriage.loc[2, 'item_name'])   # str 출력
uriage.loc[2, 'item_name'].upper()

In [ ]:
# 반복문을 이용해서 item_name 컬럼의 데이터들을 모두 대문자로 변경
# 비어있는 리스트를 하나 생성 
# 반복실행하면서 대문자로 변환된 값을 비어있는 리스트에 추가 
item_names = []
# for문 (2999번(데이터프레임의 인덱스의 크기) 반복)
for i in range(0, len(uriage), 1):
# for i in range(len(uriage))
    # i는 0부터 2998까지의 데이터 -> index
    # uriage 데이터프레임에서 item_name 컬럼의 데이터들을 하나씩 추출해서 
    # 대문자로 변환
    item = uriage.loc[i, 'item_name']
    item = item.upper()
    item_names.append(item)

print(len(item_names))
print(item_names)

In [ ]:
item_names = []
# while문
# 초기값 (시작값 -> 0)
i = 0

# while 조건식 (i는 2999(len(uriage))보다 작다)(i는 2998보다 작거나 같다다)
while i < len(uriage):
    # 반복 실행 코드 
    item = uriage.loc[i, 'item_name'].upper()
    item_names.append(item)
    # i를 증가식 (1씩 증가)
    # i = i + 1
    i += 1
print(len(item_names))
print(item_names)

In [ ]:
# while문 루프를 기본을 무한

item_names = []

# 시작값 설정
i = 0

while True:
    # 반복문을 강제로 종료하는 break 사용
    # index가 i이고 컬럼이 item_name인 데이터를 추출하여 대문자로 변환
    item = uriage.loc[i, 'item_name'].upper()
    # 위의 결과를 item_names에 추가 
    item_names.append(item)
    # i의 값이 2998(len(uriage) - 1)이 되는 경우 반복문을 종료
    if i == len(uriage) - 1:
        break
    # i를 1씩 증가
    i += 1
print(len(item_names))
print(item_names)

In [ ]:
# 특정 코드를 실행하고 만약에 에러가 발생한다면 예외 처리 
# try ~ except
item_names = []
i = 0

while True:
    #  코드 실행을 시도한다. 
    try:
        # index가 i이고 column이 item_name인 데이터를 추출하여 대문자로 변환
        item = uriage.loc[i, 'item_name'].upper()
        item_names.append(item)
        # i가 2998까지는 정상 작동
        # i가 2999가 되면 에러 발생
    except:
        # 위의 try code가 에러가 발생했을때 실행되는 부분
        break
    i += 1
print(len(item_names))
print(item_names)

In [ ]:
df = uriage.copy()

In [ ]:
# item_names 리스트 데이터를 df의 item_name 컬럼에 대입 
df['item_name'] = item_names

In [ ]:
df.head()

In [ ]:
# item_name의 데이터들에서 문자열 사이에 존재하는 공백을 제거 
# Series 안에 replace()함수는 검색을 하는 기준이 원소 하나씩을 검색하여 
# 같은 데이터를 변환 시켜주는 기능능
df['item_name'].replace("상품A", "A")

In [ ]:
df.loc[1, 'item_name'] =\
      df.loc[1, 'item_name'].replace(" ", "")
df.head()

In [ ]:
for i in range(len(df)):
    df.loc[i, 'item_name'] = \
        df.loc[i, 'item_name'].replace(' ', '')

In [ ]:
# item_name 컬럼의 데이터들의 빈도수를 확인 
# 데이터(값) -> value
# 갯수 -> count
# value_counts()
df['item_name'].value_counts()

In [ ]:
uriage['item_name'].value_counts()

In [ ]:
# 특정 컬럼의 데이터들 중복을 제거하고 출력하는 함수 
# 유일하다, 희소성이 있는?
# unique()
df['item_name'].unique()

In [ ]:
uriage['item_name'].unique()

In [ ]:
# 집합 데이터로 변환
set(df['item_name'])

In [ ]:
set(uriage['item_name'])

In [ ]:
# Series 데이터에서 str(문자열) 메서드(함수)에 접근하는 방법 
uriage['item_name'].str.upper().replace(' ', '')
test_series = uriage['item_name'].str.upper()
# test_series는 타입이 series
# Series 안에 있는 replace()함수를 호출
test_series.replace(' ', '')

In [ ]:
test_series = uriage['item_name'].str.upper()
test_series.str.replace(' ', '')

uriage['item_name'].str.upper().str.replace(' ', '')

In [ ]:
uriage['item_name'] = uriage['item_name'].str.upper()
uriage['item_name'] = uriage['item_name'].str.replace(' ', '')

In [ ]:
uriage

In [ ]:
# 데이터프레임에서 특정 컬럼의 데이터를 
# 대문자로 변환하고 문자열 사이에 존재하는 공백을 모두 제거 해서 
# 데이터를 변환 시켜주는 함수를 생성

# 매개변수 -> 함수 안에서만 사용 가능한 변수 (입력 데이터)
# 2개 -> 데이터프레임, 특정 컬럼
def test_func(_df, _col):
    # 복사본
    df = _df.copy()
    # _df : 데이터프레임
    # _col : 데이터를 변경할 컬럼의 이름
    df[_col] = df[_col].str.lower().str.replace(' ', '')
    return df

In [ ]:
# 함수 호출할때 복사본
test_func(df, 'item_name')

# test_func(_df, _col) 호출
# _df = df, _col = 'item_name'
# _df[_col] = _df[_col].str.lower().str.replace(' ', '')
# _df가 수정이 됬다 -> df도 수정이 됬다.

In [ ]:
df

In [ ]:
test_func( uriage.copy(), 'item_name' )

In [ ]:
uriage

In [ ]:
uriage.isna().sum()

In [ ]:
# uriage 데이터프레임에서 item_name이 '상품A'인 데이터를 확인
flag = uriage['item_name'] == '상품C'
uriage.loc[ flag ,  ]

In [ ]:
# uriage 데이터프레임에서 item_name이 '상품A' -> flag
# 그리고 (and)
# item_price가 결측치가 아닌 -> 
    # 데이터프레임에서 item_price만 추출 uriage['item_price']
    # 결측치인가?  .isna() --> 결측치가 True
    # 부정 처리 (-, ~)
# 데이터를 확인
~(uriage['item_price'].isna())
# 결측치인 조건식
flag_null = uriage['item_price'].isna()

uriage.loc[  flag & ~flag_null, 'item_price' ].value_counts()

In [ ]:
df2 = uriage.copy()

In [ ]:
# 반복 실행할 코드를 작성
# df2에 item_name이 상품A이고 item_price가 결측치가 아닌 데이터에서 
# item_price의 평균값을 구한다. 
flag_null = df2['item_price'].isna()  # item_price가 결측치인 조건
flag = df2['item_name'] == '상품B'  # item_name이 상품A인 조건
mean_price = df2.loc[
    flag & ~flag_null, 
    'item_price'
].mean()
# mean_price를 item_name이 상품A이고 item_price가 결측치인 데이터에서 
# item_price에 대입
# df2.loc[flag & flag_null, 'item_price'] = \
#     df2.loc[flag & flag_null, 'item_price'].fillna(mean_price)
df2.loc[flag & flag_null, 'item_price'] = mean_price

In [ ]:
# 결측치가 잘 채워졌는가?
# item_name이 상품A 이고 item_price가 결측치인 데이터를 확인 
df2.loc[flag & flag_null, ]

In [ ]:
# item_name의 유니크한 데이터의 목록
# unique() 함수를 이용
df2['item_name'].unique()

In [ ]:
list(
    set(
        df2['item_name']
    )
)

In [ ]:
df2['item_name'].value_counts()

In [ ]:
# item_name데이터를 추출
unique_data = []
for item in df2['item_name']:
    # print(i)
    # item이 unique_data에 포함되어있지 않다면
    if item not in unique_data:
        unique_data.append(item)
unique_data

In [ ]:
# 반복문을 이용해서 데이터프레임의 item_price 결측치를 채워준다. 
# 반복 횟수 : item_name의 유니크 데이터의 개수만큼
item_list = df2['item_name'].unique()

# item_price가 결측치인 조건 생성 
flag_null = df2['item_price'].isna()

# item_list를 이용하여 반복문을 실행 
for item in item_list:
    # item에는 item_list의 원소가 하나씩 대입되어 반복 실행
    # print(item) 
    # 조건식 생성 : df2에서 item_name이 item과 같다.
    flag = df2['item_name'] == item
    # flag와 flag_null의 부정이 모두 만족하는 경우의 item_price의 평균
    mean_price = df2.loc[flag & ~flag_null, 'item_price'].mean()
    # flag와 flag_null를 모두 만족하는 경우의 
    # item_price에 mean_price를 대입
    df2.loc[flag & flag_null, 'item_price'] = mean_price

In [ ]:
# 반복문의 결과를 확인 
# 결측치의 개수가 0이 되었는가?
df2.isna().sum()

In [ ]:
# item_name을 기준으로 그룹화를 하고 그룹화 연산은 item_price의 평균
df2.groupby('item_name')['item_price'].mean()

In [101]:
uriage.groupby('item_name')['item_price'].mean()

item_name
상품A     100.0
상품B     200.0
상품C     300.0
상품D     400.0
상품E     500.0
상품F     600.0
상품G     700.0
상품H     800.0
상품I     900.0
상품J    1000.0
상품K    1100.0
상품L    1200.0
상품M    1300.0
상품N    1400.0
상품O    1500.0
상품P    1600.0
상품Q    1700.0
상품R    1800.0
상품S    1900.0
상품T    2000.0
상품U    2100.0
상품V    2200.0
상품W    2300.0
상품X    2400.0
상품Y    2500.0
상품Z    2600.0
Name: item_price, dtype: float64

In [104]:
uriage.sort_values( ['item_name', 'item_price'] , inplace=True)

In [ ]:
uriage.loc[
    uriage['item_name'] == '상품B',
]

In [112]:
uriage['item_price'] = uriage['item_price'].fillna(method='ffill')

C:\Users\moons\AppData\Local\Temp\ipykernel_12420\1342502391.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  uriage['item_price'] = uriage['item_price'].fillna(method='ffill')

In [113]:
uriage.isna().sum()

purchase_date    0
item_name        0
item_price       0
customer_name    0
dtype: int64

In [114]:
uriage.groupby('item_name')['item_price'].mean()

item_name
상품A     100.0
상품B     200.0
상품C     300.0
상품D     400.0
상품E     500.0
상품F     600.0
상품G     700.0
상품H     800.0
상품I     900.0
상품J    1000.0
상품K    1100.0
상품L    1200.0
상품M    1300.0
상품N    1400.0
상품O    1500.0
상품P    1600.0
상품Q    1700.0
상품R    1800.0
상품S    1900.0
상품T    2000.0
상품U    2100.0
상품V    2200.0
상품W    2300.0
상품X    2400.0
상품Y    2500.0
상품Z    2600.0
Name: item_price, dtype: float64