### 시계열 데이터 
- 여러개의 데이터들을 하나로 모아서 시간 데이터 생성

- type(format)
    - 년도 표시(4자리수) : %Y
    - 년도 표시(2자리수) : %y
    - 월을 숫자로 표시 : %m
    - 월을 이름으로 표시 : %B
    - 월의 이름을 축약해서 표시 : %b
    - 일을 숫자로 표시 : %d
    - 시를 24시 기준으로 표시 : %H
    - 시를 12시 기준으로 표시 : %I
    - AM/PM 표시 : %p
    - 분을 표시 : %M
    - 초를 표시 : %S
    - 요일을 이름으로 표시 : %A
    - 요일을 숫자로 표시 : %w (0: 일, 1: 월, ..., 6: 토)

In [1]:
# 시계열 데이터를 사용할수 있는 라이브러리 호출 
from datetime import datetime

In [2]:
time_str = "2025-05-27"

In [3]:
type(time_str)

str

In [5]:
# 문자열 데이터를 시계열데이터로 변환
# 라이브러리에서 함수를 호출 
# datetime 안에 함수 호출 
# strptime() : 문자열 데이터를 시계열 데이터로 변환시키는 함수 
    # 필수 인자(입력값) 2개 
        # 문자열 데이터 ( 시계열로 변경시킬 데이터 )
        # 해당 문자열의 형식(format)
time_data = datetime.strptime( time_str, '%Y-%m-%d' )

In [6]:
time_data

datetime.datetime(2025, 5, 27, 0, 0)

In [7]:
time_data.strftime('%A')

'Tuesday'

In [11]:
datetime.strftime(time_data,'%m%d%Y')

'05272025'

In [12]:
import pandas as pd

In [14]:
# pandas 라이브러리에서 시계열 데이터를 생성 
# Timestamp() : 1970-01-01 시작 시간에서 나노초만큼 지난 시간은 생성
pd.Timestamp(1000000)

Timestamp('1970-01-01 00:00:00.001000')

In [15]:
pd.Timestamp(100, unit='D')

Timestamp('1970-04-11 00:00:00')

In [16]:
pd.Timestamp('2025-05-27')

Timestamp('2025-05-27 00:00:00')

In [17]:
pd.Timestamp('05-27-2025')

Timestamp('2025-05-27 00:00:00')

In [21]:
now_date = pd.to_datetime('2025년05월27일', format='%Y년%m월%d일')

In [25]:
# 오늘로부터 15일 뒤
now_date + pd.Timedelta(15, unit='D')

Timestamp('2025-06-11 00:00:00')

In [26]:
pd.Timedelta('3 days')

Timedelta('3 days 00:00:00')

In [ ]:
pd.Timedelta()