### class 선언
- class 라는 키워드를 이용하여 선언
- class 의 이름은 일반적으로 단어의 앞글자는 대문자로 표기

### class 생성 
- 선언이 된 class를 변수에 저장하는 과정
- 선언디 된 class를 여러개의 변수에서 저장하여 따로 관리 가능

### class 내부의 변수, 함수를 호출
- 생성이 된 class(변수) 안에(.) 변수와 함수를 호출

In [ ]:
# 가장 기본적인 class을 선언 
class Test:

    # 생성자 함수(초기화 함수) : 매개변수 self는 필수로 입력
    # class가 생성이 될때 최초로 한번만 실행이 되는 함수를 의미 
    # 따로 호출할 필요는 없다.
    def __init__(self, input_a, input_b):
        # 총 매개변수는 3개
        # class를 생성할때 인자 값은 2개
        # self -> class 가 생성이 되는 위치가 자동으로 입력
        # class 내부에서 사용할 변수를 생성하는 함수 
        # class가 생성된 위치(self) 안에(.) 변수(a)를 생성
        self.a = input_a
        self.b = input_b
    
    # class 내부에서 생성이되는 함수는 일반적으로는 self 매개변수 이용
    def add_value(self):
        result = self.a + self.b
        return result

In [ ]:
# class 생성
class_1 = Test('팥', '붕어빵')

In [ ]:
class_2 = Test('슈크림', '붕어빵')

In [ ]:
# class 안에 존재하는 변수를 호출 

# class_1 안에(.) a를 호출
print(class_1.a)
# class_2 안에(.) a를 호출
print(class_2.a)

In [ ]:
print(class_1)

In [ ]:
print(class_2)

In [ ]:
print(class_1.add_value())
print(class_2.add_value())

In [ ]:
class_1.add_value()

In [ ]:
# 계산기 class
class Calcurate:
    # 생성자 함수에서 데이터를 2개를 생성 
    def __init__(self, input_a, input_b):
        self.a = input_a
        self.b = input_b

    # self.a와 self.b를 더해주는 함수 생성 
    def add(self):
        result = self.a + self.b
        # self.a와 self.b 데이터의 변화는 없다
        return result
    
    # self.a와 self.b를 빼주는 함수 생성
    def sub(self):
        result = self.a -self.b
        return result

    def multi(self):
        result = self.a * self.b
        return result
    
    def dev(self):
        result = self.a / self.b
        return result

In [ ]:
cal_1 = Calcurate(20, 4)
cal_2 = Calcurate(40, 5)

In [ ]:
# cal_1에는 a변수와 b변수 4개의 함수가 존재
print(cal_1.add())
print(cal_2.add())

In [ ]:
print(cal_1.sub())
print(cal_2.sub())

In [ ]:
print(cal_1.multi())
print(cal_2.multi())

In [ ]:
print(cal_1.dev())
print(cal_2.dev())

In [40]:
# 클래스 변수가 존재하는 클래스를 선언 
# 클래스 변수 : 같은 클래스끼리 서로 공유하는 변수
class Test2:
    cnt = 0
    user_list = []
    def __init__(self, _name):
        # 생성자 함수 
        self.name = _name
        # 클래스 변수인 cnt에 1을 증가시킨다. 
        Test2.cnt += 1
        Test2.user_list.append(_name)

In [41]:
user_1 = Test2('kim')

In [42]:
user_1.cnt

1

In [43]:
user_1.user_list

['kim']

In [44]:
user_2 = Test2('park')

In [45]:
user_2.cnt

2

In [46]:
user_2.user_list

['kim', 'park']

In [47]:
user_1.cnt

2

### 은행 계좌 class 생성
- 클래스 변수 생성 
    - total_cost = 0, user_cnt = 0

- 생성자 함수 (생성된 class에서 독립적으로 가지고 있는 변수 생성) 
    - name [str]
    - birth [str]
    - cost [int] -> 기본값을 0
    - log [list] -> 매개변수로 생성하지 않고 변수로 생성 하여 빈 리스트로 대입

- 함수 생성 
    - 입/출금
        - 매개변수 2개
            - _type -> 입금(1)인가 출금(2)인가?
            - _cost
        - _type이 1이라면 self.cost를 _cost만큼 증가 시키고 total_cost도 _cost만큼 증가
        - _type이 2라면 self.cost를 _cost만큼 감소 시키고 total_cost도 _cost만큼 감소
        - log에 [_type, _cost, self.cost] 추가
    - 로그를 출력하는 함수 
        - 매개변수 X 
        - self.log를 출력

In [49]:
class Bank:
    # 클래스 변수 
    total_cost = 0
    user_cnt = 0

    # 생성자 함수 
    def __init__(self, _name, _birth, _cost = 0):
        self.name = _name
        self.birth = _birth
        self.cost = _cost
        self.log = []
        Bank.user_cnt += 1
    
    # 입출금 함수 
    def change_cost(self, _type, _cost):
        # _type이 1인 경우 2인 경우 
        if _type == 1:
            # self.cost를 _cost만큼 증가시킨다. 
            # self.cost = self.cost + _cost
            self.cost += _cost
            # total_cost 증가 
            Bank.total_cost += _cost
        elif _type == 2:
            self.cost -= _cost
            Bank.total_cost -= _cost
        else:
            return "_type의 값이 잘못되었습니다."
        # log에 1차원 데이터를 추가 
        self.log.append( [_type, _cost, self.cost] )
        return f"현재 잔액은 {self.cost}원 입니다."
    # log를 출력하는 함수
    def view_log(self):
        # print(self.log)
        for i in self.log:
            print(i)

In [50]:
bank1 = Bank('kim', '950101')

In [51]:
bank2 = Bank('park', '901010', 100000)

In [52]:
# 입금
bank1.change_cost(1, 10000)

'현재 잔액은 10000원 입니다.'

In [53]:
bank1.change_cost(2, 5000)

'현재 잔액은 5000원 입니다.'

In [54]:
bank2.change_cost(1, 50000)

'현재 잔액은 150000원 입니다.'

In [55]:
bank1.view_log()

[1, 10000, 10000]
[2, 5000, 5000]

In [56]:
bank2.view_log()

[1, 50000, 150000]