### 볼린저밴드 
1. 이동평균선 : 데이터 20개의 평균값
2. 상단 밴드 : 이동평균선 + (2 * 데이터 20개의 표준편차)
3. 하단 밴드 : 이동평균선 - (2 * 데이터 20개의 표준편차)
4. 매수의 조건식 : 가격이 하단밴드보다 낮은 경우
5. 매도의 조건식 : 가격이 상단밴드보다 높은 경우

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [11]:
df = pd.read_csv("../../csv/AAPL.csv")

In [12]:
if 'Date' in df.columns:
    df.set_index('Date', inplace=True)

In [13]:
# 결측치, 무한대 제거 
flag = df.isin([np.nan, np.inf, -np.inf]).any(axis=1)

In [14]:
df = df.loc[~flag, ['Adj Close']]

In [ ]:
df

In [16]:
# index를 시계열로 변경 
df.index = pd.to_datetime(df.index)

In [ ]:
# Adj Close의 데이터에서 이동 평균선 구하기 
df.iloc[0:20, 0].mean()
# df.iloc[19 ]위치에 평균 값을 대입

0.4432777

In [18]:
# 이동평균선 컬럼을 생성하여 결측치를 넣어둔다. 
df['center'] = np.nan

In [19]:
df.iloc[19, 1] = df.iloc[0:20, 0].mean()

In [ ]:
df.iloc[18:22]

In [21]:
for i in range(20, len(df), 1):
    df.iloc[i-1, 1] = df.iloc[ i-20 : i, 0 ].mean()

In [22]:
df.iloc[18:22]

            Adj Close    center
Date
1981-01-09   0.455147       NaN
1981-01-12   0.451577  0.443278
1981-01-13   0.435513  0.444527
1981-01-14   0.437298  0.446937