In [ ]:
# pykrx 설치 
# !pip install pykrx

In [1]:
# 라이브러리 로드 
from pykrx import stock

In [2]:
df = stock.get_market_ohlcv_by_date("20200101", "20250622", "005930")

In [6]:
df.reset_index(inplace=True)

In [7]:
df.head(1)

          날짜     시가     고가     저가     종가       거래량       등락률
0 2020-01-02  55500  56000  55000  55200  12993228 -1.075269

In [11]:
df.rename(
    columns={
        '날짜' : 'Date', 
        '시가' : 'Open', 
        '고가' : 'High', 
        '저가' : 'Low', 
        '종가' : 'Close', 
        '거래량' : 'Volume', 
        '등락률' : 'Rate'
    }, inplace=True
)

In [21]:
stock.get_market_ohlcv_by_date('20200101', '20250623', '005930')

               시가     고가     저가     종가       거래량       등락률
날짜
2020-01-02  55500  56000  55000  55200  12993228 -1.075269
2020-01-03  56000  56600  54900  55500  15422255  0.543478
2020-01-06  54900  55600  54600  55500  10278951  0.000000
2020-01-07  55700  56400  55600  55800  10009778  0.540541
2020-01-08  56200  57400  55900  56800  23501171  1.792115
...           ...    ...    ...    ...       ...       ...
2025-06-17  57800  59800  57400  58100  28637003  1.573427
2025-06-18  58000  59800  57900  59800  17620705  2.925990
2025-06-19  60500  60600  59000  59200  16876278 -1.003344
2025-06-20  59400  59800  59100  59500  18072251  0.506757
2025-06-23  58400  58500  57600  57900   5264522 -2.689076

[1344 rows x 6 columns]

In [ ]:
# 종목의 이름으로 종목의 코드를 불러오는 함수 존재 
stock.get_market_ticker_list(market='KOSPI')

In [3]:
stock.get_market_ticker_name('005930')

'삼성전자'

In [4]:
def name_to_code(_name, _market = 'KOSPI'):
    codes = stock.get_market_ticker_list(market = _market)
    for code in codes:
        # 해당 코드를 _name과 비교 
        if stock.get_market_ticker_name(code) == _name:
            return code
    print('종목 이름에 맞는 코드가 존재하지 않는다.')
    return ""

In [5]:
name_to_code('SK하이닉스')

'000660'

In [6]:
from datetime import datetime

In [19]:
# load_data 함수 생성 
def load_data(
        _ticker, 
        _start = '2010-01-01', 
        _end = datetime.now()
):
    _start = datetime.strptime(_start, '%Y-%m-%d').strftime('%Y%m%d')
    if type(_end) == str:
        _end = datetime.strptime(_end, '%Y-%m-%d').strftime('%Y%m%d')
    else:
        _end = _end.strftime('%Y%m%d')

    result = stock.get_market_ohlcv_by_date(_start, _end, _ticker)
    # result의 길이가 0이라면 -> 종목의 이름이라 생각한다. 
    if len(result):
        return result
    else:
        _code = name_to_code(_ticker)
        if _code == "":
            _code = name_to_code(_ticker, 'KOSDAQ')
        result = stock.get_market_ohlcv_by_date(_start, _end, _code)
        return result

In [21]:
load_data('알테오젠')

종목 이름에 맞는 코드가 존재하지 않는다.

                시가      고가      저가      종가      거래량       등락률
날짜
2014-12-12    3500    3619    2978    2994  9195235       NaN
2014-12-15    3034    3354    2936    3160  3246249  5.544422
2014-12-16    3159    3257    2909    2965  1259428 -6.170886
2014-12-17    2957    3041    2922    2924   632065 -1.382799
2014-12-18    2922    3166    2881    3125  1561977  6.874145
...            ...     ...     ...     ...      ...       ...
2025-06-17  405500  410500  396000  397500   281659 -1.972873
2025-06-18  392000  411500  389500  395000   331986 -0.628931
2025-06-19  397500  397500  385000  387000   273679 -2.025316
2025-06-20  390000  400500  384500  390000   451701  0.775194
2025-06-23  382000  383000  375000  376000   130326 -3.589744

[2583 rows x 6 columns]

In [11]:
# 과연 비어있는 데이터프레임을 if 조건식으로 사용할때 T/F가 되는가?
import pandas as pd

In [12]:
empty_df = pd.DataFrame()

In [17]:
# 비어있는 데이터프레임은 강제로 bool형태로 변경은 불가
# bool(empty_df)

In [16]:
if len(empty_df) != 0:
    print('T')
else:
    print('F')

F