In [1]:
# !pip install pandas

In [2]:
import pandas as pd

In [3]:
# 1차원 데이터 형태인 Series 
# Series는 pandas 라이브러리 안에 존재하는 Class다

series_1 = pd.Series(
    [5000, 6000, 6500, 6500]
)

In [4]:
print(series_1)

0    5000
1    6000
2    6500
3    6500
dtype: int64

In [5]:
series_1[1]

6000

In [6]:
print(type(series_1))

<class 'pandas.core.series.Series'>

In [10]:
# Series class에는 변수가 적어도 2개
# index, values
print(series_1.values[1])

6000

In [9]:
print(series_1.index[1])

1

In [11]:
series_1.values[1] = 7000

In [12]:
series_1

0    5000
1    7000
2    6500
3    6500
dtype: int64

In [15]:
series_1.index = ['a', 'b', 'c', 'd']

In [16]:
series_1

a    5000
b    7000
c    6500
d    6500
dtype: int64

In [17]:
series_1.index = [1, 2, 3]

ValueError: Length mismatch: Expected axis has 4 elements, new values have 3 elements

In [18]:
# series를 생성할때도 values의 개수와 index의 개수가 다르면 에러 발생
series_2 = pd.Series(
    [10, 20, 30, 40], 
    index = ['a', 'b', 'c', 'd', 'e']
)

ValueError: Length of values (4) does not match length of index (5)

In [31]:
_values = [
    [1,2,3], 
    [4,5,6], 
    [7,8,9]
]
_index = ['a', 'b', 'c']
_cols = ['A', 'B', 'C']

df = pd.DataFrame(
    _values, 
    index = _index, 
    columns = _cols
)

In [32]:
print(df)

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [33]:
# df에서 두번째 컬럼의 이름을 F로 변경 
df.columns = ['A','F','C']

In [34]:
df.rename(
    columns = {
        'F' : 'B'
    }, 
    inplace = True
)

In [35]:
df

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [36]:
pd.rename()

AttributeError: module 'pandas' has no attribute 'rename'

In [41]:
values = ['a', 'b', 'c']

# a1 = values[0]
# a2 = values[1]
# a3 = values[2]
# 위의 코드를 반복문으로 생성
for i in range(0, len(values), 1):
    # print(i)
    # print(values[i])
    globals()[f"a_{i}"] = values[i]

In [42]:
a_0

'a'

In [43]:
a_1

'b'

In [44]:
a_2

'c'