In [ ]:
import pandas as pd

In [ ]:
# corona.csv 파일을 로드 
# 상위로 이동 -> 상위로 이동 -> csv 폴더로 이동 -> corona.csv
corona = pd.read_csv("../../csv/corona.csv")

In [ ]:
# 데이터프레임의 정보를 확인 
corona.info()

In [ ]:
# 결측치의 개수를 확인 
corona.isna().sum()

In [ ]:
corona.head()

In [ ]:
corona.tail()

In [ ]:
# 데이터프레임에서 특정 컬럼을 제외 시킨다. 
# 특정 컬럼을 제외하고 나머지의 컬럼만 선택하여 필터링
# 특정 컬럼을 제외(버린다.)
# 제거 -> drop
# drop() -> axis : 행을 제거할것인가, 열을 제거할것인가
# Unnamed: 0 컬럼을 제거 
corona.drop( ['Unnamed: 0', 'seq'], axis='columns', inplace=True)

In [ ]:
corona.columns

In [ ]:
# 컬럼의 이름을 변경 
# rename() 함수 -> 행이나 열의 이름을 변경하는 함수수
corona.rename(
    columns = {
        'createDt' : '등록일시', 
        'deathCnt' : '총사망자', 
        'decideCnt' : '총확진자', 
        'stateDt' : '기준일', 
        'stateTime' : '기준시간', 
        'updateDt' : '수정일시', 
        'accExamCnt' : '누적의심자', 
        'accDefRate' : '누적확진율'
    }
)
corona

In [ ]:
# class 안에 있는 columns 변수의 데이터를 변경
corona.columns = ['등록일시', '총사망자', '총확진자', '기준일', 
                  '기준시간', '수정일시', '누적의심자', '누적확진율']

In [ ]:
corona.head(1)

In [ ]:
# 1차 작업완료 
# 백업본 데이터를 생성
# df에 corona 데이터를 복사 
df = corona.copy()

In [ ]:
# 과연 누적의심자 데이터를 언제부터 수집을 하지 않았는가?
# 조건 -> 누적의심자 Series에서 결측치와 같음
flag = df['누적의심자'].isna()

In [ ]:
df.loc[flag, '등록일시']

In [ ]:
df.loc[128, '등록일시']

In [ ]:
# 누적의심자 데이터를 수집하지 않은 날짜부터 +- 2일의 데이터를 확인
df.loc[125:129, ]

In [ ]:
flag2 = df['누적확진율'].isna()

df.loc[flag2, ]

In [ ]:
df.iloc[194:199, ]

In [ ]:
# 데이터프레임에서 정렬을 변경
# 정렬 -> sort
# 정렬을 바꾸는 기준 (index, values)
# sort_index() -> index의 값을 기준으로 정렬을 변경
# sort_values() -> 특정 컬럼의 값들을 기준으로 정렬을 변경 
# 등록일시를 기준으로 오름차순 정렬 
# 차순정렬 방법 매개변수 ascending = True 로 구성
df.sort_values(
    ['등록일시'], 
    inplace=True
)

In [ ]:
df

In [38]:
# 인덱스를 초기화
# 인덱스 -> index
# 초기화 -> reset
# reset_index()
df.reset_index(drop=True, inplace=True)

In [39]:
df

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
2,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
3,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
4,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
...,...,...,...,...,...,...,...,...
815,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
816,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
817,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
818,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
819,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN

In [ ]:
# 일일사망자의 수를 확인 
# index 1의 총사망자 - index 0의 총사망자 --> index 1의 일일사망자
df.loc[1, '총사망자'] - df.loc[0, '총사망자']
df.loc[2, '총사망자'] - df.loc[1, '총사망자']
# ....
df.loc[819, '총사망자'] - df.loc[818, '총사망자자']

6

In [ ]:
datas = [0]
for i in range(1, len(df), 1):
    data = df.loc[i, '총사망자'] - df.loc[i-1, '총사망자']
    datas.append(data)

In [50]:
len(datas)

819

In [ ]:
df['일일사망자'] = datas

In [53]:
df.head()

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자,일일사망자2
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0,0
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,6,0
2,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,6,0
3,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499,1,0
4,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000,5,0