### 예제
1. csv 폴더에서 test_csv 폴더의 '오프라인.csv' 파일을 로드 
2. 컬럼의 이름을 변경 -> [기준년월, '업종', 성별, 연령대, 총이용건수, 총이용금액]
3. 결측치가 존재하는가?
    - 결측치의 대한 체크
    - 성별 컬럼에서 '-' 데이터가 존재하는가?
4. 기준년월 컬럼의 데이터 타입을 시계열 변경 
5. 성별을 기준으로 연도별 건당 이용금액의 평균이 어떻게 되는가?
    - 기준년 컬럼을 생성하여 기준년월에서 년도만 추출하여 대입
    - 건당이용금액 컬럼을 생성하여 총이용금액 / 총이용건수 의 결과를 대입
    - 기준년과 성별을 기준으로 그룹화를 하고 그룹화 연산으로는 건당이용금액의 평균을 구한다.

In [ ]:
import pandas as pd
from datetime import datetime

In [ ]:
# 파일을 로드 
offline = pd.read_csv('../../csv/test_csv/오프라인.csv', 
    encoding='cp949')

In [ ]:
offline.head()

In [ ]:
# 컬럼의 이름을 변경
# case1 : rename() -> 특정 컬럼이나 인덱스를 변경할때 사용
# columns 변수를 변경하는것과의 차이점은 rename() 변경하기 전 확인이 가능
offline.rename(
    columns = {
        'crym' : '기준년월', 
        'tco_btc_nm' : '업종', 
        'ma_fem_dc' : '성별', 
        'agegrp_dc' : '연령대', 
        'tco_btc_u_ct' : '총이용건수', 
        'tco_btc_u_am' : '총이용금액'
    }
)

In [ ]:
# case2 : DataFrame안에 존재하는 columns 변수에 데이터를 변경 
offline.columns = ['기준년월', '업종', '성별', '연령대', 
                    '총이용건수', '총이용금액']

In [ ]:
offline.head()

In [ ]:
# 결측치의 개수를 확인 -> 결측치인가? -> 합
offline.isna().sum()

In [ ]:
offline.info()

In [ ]:
offline.describe()

In [ ]:
# 항목정의서에서 확인했을때 성별 컬럼의 결측치는 -
# - 의 개수도 확인 
(offline['성별'] == '-').sum()

0

In [21]:
offline['성별'].isin(['-', '9']).sum()

0

In [23]:
pd.to_datetime(offline['기준년월'] , format='%Y%m')

0      2019-01-01
1      2019-01-01
2      2019-01-01
3      2019-01-01
4      2019-01-01
          ...
2643   2021-09-01
2644   2021-09-01
2645   2021-09-01
2646   2021-09-01
2647   2021-09-01
Name: 기준년월, Length: 2648, dtype: datetime64[ns]