In [2]:
import pandas as pd 
from invest import Quant

In [3]:
# Quant class 생성 
df = pd.read_csv("../csv/SLV.csv")

In [4]:
quant = Quant(df)

In [6]:
quant.buyandhold()

바이앤홀드 전략으로 최종 수익율은 0.8376610562971583

(            Adj Close       rtn   acc_rtn
 Date
 2010-01-04  17.230000  1.000000  1.000000
 2010-01-05  17.510000  1.016251  1.016251
 2010-01-06  17.860001  1.019989  1.036564
 2010-01-07  17.889999  1.001680  1.038305
 2010-01-08  18.150000  1.014533  1.053395
 ...               ...       ...       ...
 2019-06-18  14.050000  1.010791  0.815438
 2019-06-19  14.170000  1.008541  0.822403
 2019-06-20  14.450000  1.019760  0.838654
 2019-06-21  14.360000  0.993772  0.833430
 2019-06-24  14.432900  1.005077  0.837661

 [2384 rows x 3 columns],
 0.8376610562971583)

In [ ]:
quant.bollinger(10)

In [15]:
quant.halloween(month = 5)

할로윈 전략으로 최종 수익율은 0.7044064834033266

c:\ubion_2025_2\python\invest\halloween.py:50: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '1.3121606948968512' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.iloc[idx, -1] = rtn

(            Adj Close       rtn   acc_rtn
 Date
 2010-05-03  18.420000  1.000000  1.000000
 2010-10-29  24.170000  1.312161  1.312161
 2011-05-02  42.830002  1.000000  1.312161
 2011-10-31  33.439999  0.780761  1.024484
 2012-05-01  30.059999  1.000000  1.024484
 2012-10-31  31.270000  1.040253  1.065722
 2013-05-01  22.860001  1.000000  1.065722
 2013-10-31  21.100000  0.923010  0.983672
 2014-05-01  18.350000  1.000000  0.983672
 2014-10-31  15.500000  0.844687  0.830895
 2015-05-01  15.470000  1.000000  0.830895
 2015-10-30  14.800000  0.956690  0.794909
 2016-05-02  16.639999  1.000000  0.794909
 2016-10-31  16.969999  1.019832  0.810673
 2017-05-01  15.990000  1.000000  0.810673
 2017-10-31  15.790000  0.987492  0.800534
 2018-05-01  15.240000  1.000000  0.800534
 2018-10-31  13.410000  0.879921  0.704406,
 0.7044064834033266)

In [14]:
quant.momentum(_score = 1.1)

c:\ubion_2025_2\python\invest\momentum.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BF1'] = df.shift(1)[col].fillna(0)
c:\ubion_2025_2\python\invest\momentum.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BF2'] = df.shift(_momentum)[col].fillna(0)

매수일 : 2010-01-29 00:00:00, 매수가 : 15.9
매도일 : 2011-12-30 00:00:00, 매도가 : 26.940001, 수익율 : 1.6943396855345911

c:\ubion_2025_2\python\invest\momentum.py:75: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '1.6943396855345911' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[idx, 'rtn'] = rtn

매수일 : 2012-12-31 00:00:00, 매수가 : 29.370001
매도일 : 2013-01-31 00:00:00, 매도가 : 30.440001, 수익율 : 1.0364317318205063
매수일 : 2016-07-29 00:00:00, 매수가 : 19.35
매도일 : 2017-04-28 00:00:00, 매도가 : 16.299999, 수익율 : 0.8423772093023255
모멘텀 전략으로 최종 수익율 1.4792711680329242

(            Adj Close   STD-YM trade  rtn   acc_rtn
 Date
 2006-04-28    13.8120  2006-04        1.0  1.000000
 2006-05-01    13.8700  2006-05        1.0  1.000000
 2006-05-02    14.3650  2006-05        1.0  1.000000
 2006-05-03    13.9250  2006-05        1.0  1.000000
 2006-05-04    14.0000  2006-05        1.0  1.000000
 ...               ...      ...   ...  ...       ...
 2019-06-18    14.0500  2019-06        1.0  1.479271
 2019-06-19    14.1700  2019-06        1.0  1.479271
 2019-06-20    14.4500  2019-06        1.0  1.479271
 2019-06-21    14.3600  2019-06        1.0  1.479271
 2019-06-24    14.4329  2019-06        1.0  1.479271

 [3311 rows x 5 columns],
 1.4792711680329242)