In [ ]:
import requests
import os 
from dotenv import load_dotenv

In [ ]:
load_dotenv()

In [ ]:
service_key = os.getenv('service_key')
url = 'https://apis.data.go.kr/1741000/RegistrationPopulationByRegion/getRegistrationPopulationByRegion'
params = {
    'ServiceKey' : service_key, 
    'pageNo' : 1, 
    'numOfRows' : 30
}

In [ ]:
# 요청 보내는 부분 
response = requests.get(url, params=params)

In [ ]:
print(response)

In [ ]:
print(response.content)

In [ ]:
# !pip install xmltodict

In [ ]:
# xml데이터를 dict 형태로 변환해주는 라이브러리 로드 
import xmltodict

In [ ]:
dict_data = xmltodict.parse(response.content)

In [ ]:
import pprint

In [ ]:
pprint.pprint(dict_data['RegistrationPopulationByRegion']['row'])

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(
    dict_data['RegistrationPopulationByRegion']['row'])

In [ ]:
df.head()

In [ ]:
# csv 로 저장 
df.to_csv("./인구정보.csv", index=False)

In [ ]:
# df에서 seq 컬럼을 삭제 
df.drop('seq', axis=1, inplace=True)

In [ ]:
# df에서 wrttimeid 컬럼의 이름을 year로 변경 
df.rename(
    columns={
        'wrttimeid' : 'year'
    }, inplace=True
)

In [ ]:
df.head()

In [ ]:
from database import MyDB

In [ ]:
db1 = MyDB()

In [ ]:
# oepn api에서 받은 데이터를 DB에 대입 테이블 생성 
table_query = """
    CREATE TABLE `population`
    (
        `No` int auto_increment primary key, 
        `year` int not null, 
        `regi` varchar(32) not null, 
        `total` int not null, 
        `man` int not null, 
        `female` int not null, 
        `houshol` int not null
    )
"""

In [ ]:
db1.sql_query(table_query)

In [ ]:
insert_query = """
    INSERT INTO 
    `population`
    (`year`, `regi`, `total`, `man`, `female`, `houshol`)
    VALUES 
    (%s, %s, %s, %s, %s, %s)
"""

In [ ]:
list(df.iloc[0, ])

In [ ]:
db1.sql_query(insert_query, *list(df.iloc[0, ]))

In [ ]:
for idx in range(0, len(df), 1):
    db1.sql_query(insert_query, *list(df.iloc[idx, ]))
    db1.commit_db()

In [ ]:
# DataFrame을 sql에 대입 하기 위한 라이브러리 설치 
# !pip install sqlalchemy

In [ ]:
# sql server와의 연결 주소를 생성
from sqlalchemy import create_engine

engine = create_engine(
    "mysql+pymysql://root:1234@localhost:3306/ubion")

In [ ]:
# to_sql()
# name : 테이블의 이름 지정
# con : 데이터베이스의 주소 
# index : 인덱스 포함 여부 (기본값 : True)
# if_exists : replace(대체 -> 삭제하고 다시 생성)
#             append( 데이터를 추가 -> 행을 추가 )
#             fail (기본값본값) (실패 처리 -> 기존의 테이블 유지 새로운 데이터 대입 X)
df.to_sql(name = 'test_table', con = engine)

30