In [ ]:
# 변수 생성
# 변수명 = 데이터
a = "test"
# a 변수를 출력
print(a)
# a의 데이터의 타입을 출력
print(type(a))

In [ ]:
# 산술연산자
x = 10
y = 3

# 사칙연산
print(x + y)
print(x - y)
print(x * y)
print(x / y)
# 나눈 값의 몫
print(x // y)
# 나눈 값의 나머지 
print(x % y)
# 지수 승
print(x ** y)

In [ ]:
# 대입 연산자
a = 10

a += 1  # a = a + 1
# a는 11
print(a)

In [ ]:
a *= 2  # a = a * 2

print(a)

In [ ]:
# 비교 연산자 -> 결과 비교하여 결과는 True // False
data_1 = 'A'
data_2 = 'a'

print(data_1 == data_2)
print(data_1 != data_2)

# 제목1
## 제목2
### 제목3
#### 제목4

## 리스트 형태 데이터 
### 순서형 리스트 
1. list1
2. list2
3. list3
3. list4
### 비순서형 리스트 
- list1
- list2
- list3
#### 리스트 안에 리스트를 생성
1. list1
    1. sub_list1
    2. sub_list2

### 자료형 데이터 
- 여러개의 데이터를 하나의 변수에 저장시키는 형태
- R에서는 벡터데이터와 리스트 데이터 

- tuple
    - 자료형 데이터에서 가장 기본적인 형태 
    - ()를 이용해서 데이터를 생성
    - 한번 생성이 되면 수정이 불가능
- list
    - []를 이용해서 데이터를 생성 
    - tuple과는 다르게 각 원소들을 수정하거나 추가, 삭제가 가능
    - 위의 작업들은 list 안에 내장된 함수를 이용
    - 원소의 개수가 0개부터 생성 가능
- dict 
    - {}를 이용해서 데이터를 생성
    - key : value의 형태로 데이터의 구조가 생성
    - tuple, list는 위치를 기준으로 데이터를 추출한다면 dict는 key를 기준으로 데이터를 추출
    - 원소의 개수는 0개부터 생성 가능

In [ ]:
# tuple 데이터 생성
# 원소 타입이 달라도 생성 가능
tuple_a = (1, 'Hello')
tuple_b = (3, 3.14)
print(tuple_a)
print(tuple_b)
print(type(tuple_a))
print(type(tuple_b))

In [ ]:
# tuple에서 위치를 기준으로 데이터를 추출
# python에서는 위치가 0부터 시작
print(tuple_a[0])
print(tuple_b[1])

In [ ]:
# tuple 끼리의 합
print(tuple_a + tuple_b)

In [ ]:
# list 형태 데이터 생성 
list_a = [20, 10, 30, 40]
list_b = ['abc', 'fi', 'be']
print(list_a)
print(list_b)
print(type(list_a))
print(type(list_b))

In [ ]:
# list의 내장함수 
# 정렬을 변경 -> sort() -> 기본적으로 오름차순 정렬 변경
# list(list_a) 안에(.) 있는 sort() 함수 호출
list_a.sort()

In [ ]:
list_a

In [ ]:
# 내림차순 정렬 
# sort() 함수에는 매개변수 reverse 매개변수가 존재 
list_b.sort(reverse=True)

In [ ]:
list_b

In [ ]:
# 순서를 역순으로 변경하는 함수 
# reverse()
list_a.reverse()

In [ ]:
list_a

In [ ]:
# 리스트에 원소를 추가하는 방법 
# 가장 마지막에 원소를 추가  -> append(data)
list_a.append(33)
# 특정 위치에 데이터를 추가 -> insert(index, data)
list_a.insert(2, 15)

In [ ]:
list_a

In [ ]:
# 리스트에서 원소를 제거하는 방법 
# 가장 마지막 원소를 제거 -> pop()
list_a.pop()

In [ ]:
list_a

In [ ]:
# 리스트에서 특정한 값을 제거 -> remove(data)
list_a.remove(20)

In [ ]:
list_a

In [ ]:
list_a.append(40)
list_a

In [ ]:
# remove를 이용해서 데이터를 제거하는데 해당 데이터가 여러개인 경우
# 해당하는 값중 첫번째 데이터를 제거
list_a.remove(40)

In [ ]:
list_a

In [ ]:
# 특정 위치의 데이터를 제거 
del list_a[2]
list_a

In [ ]:
# copy() -> 복사
list_a_clone = list_a

In [ ]:
list_a

In [ ]:
list_a_clone

In [ ]:
list_a_clone.append(55)

In [ ]:
list_a_clone

In [ ]:
list_a

In [ ]:
list_a_copy = list_a.copy()

In [ ]:
list_a_copy

In [ ]:
list_a_clone

In [ ]:
list_a

In [ ]:
# copy 데이터를 수정 
list_a_copy.pop()

In [ ]:
list_a_copy

In [ ]:
list_a_clone

In [ ]:
list_a

In [ ]:
# 특정 데이터의 위치를 출력하는 함수 
# index(data)
# 해당 데이터가 존재하지 않으면 에러 발생생
list_a.index(15)

In [ ]:
text_a = 'abcd'

In [ ]:
text_a.find('e')

In [ ]:
# sort() -> 정렬을 오름차순으로 변경하고 데이터를 저장
    # list에 내장된 함수
# list_a.sort()
# sorted() -> 리스트의 데이터를 오름차순으로 변경
    # python base에서 제공하는 함수
sorted(list_a)

In [ ]:
# dict 데이터 생성
# key : value 형태의 구조
dict_a = {
    'id' : 'test', 
    'age' : 20, 
    'phone' : '01012345678'
}

In [ ]:
dict_a

In [ ]:
# dict_a 데이터에서 20이라는 데이터를 추출하려면?
dict_a['age']

In [ ]:
# dict 데이터는 위치 대신 key값을 기준으로 데이터를 추출하기 때문에
# 에러 발생 (1이라는 key가 존재하지 않는다.)
# dict_a[1]

In [ ]:
# dict에 새로운 데이터를 추가하려면? -> key:value 형태로 추가 
dict_a['loc'] = 'seoul'

In [ ]:
dict_a

In [ ]:
del dict_a['phone']

In [ ]:
dict_a

In [ ]:
# 일반적인 open api에서 데이터를 받아올때
# DB에서 데이터를 가져올때
sample_data = {
    'id' : ['test', 'test2', 'test3', 'test4'], 
    'password' : ['1111', '2222', '3333', '4444'], 
    'name' : ['Kim', 'Park', 'Lee', 'Choi']
}
print(sample_data)

In [ ]:
# sample_data는 type은 dict -> key값을 이용하여 추출
# 'Lee'은 name key값에 존재
print(sample_data['name'])
# sample_data['name']의 데이터의 타입은  list -> index를 이용하여 추출
# 'Lee' 문자열은 3번째 위치에 존재(index -> 2)
print(sample_data['name'][2])

In [ ]:
sample_data2 = [
    {
        'id' : 'test', 'password' : '1111', 'name' : 'Kim'
    }, 
    {
        'id' : 'test2', 'password' : '2222', 'name' : 'Park'
    }, 
    {
        'id' : 'test3', 'password' : '3333', 'name' : 'Lee'
    }
]

In [ ]:
# sample_data2에서 test2를 추출하려면?
# test2는 sample_data2에서 index 1에 위치
print(sample_data2[1])
print(sample_data2[1]['id'])

In [ ]:
# dict 데이터에서 key 값들만 확인 
sample_data.keys()

In [ ]:
# dict 데이터에서 value 값들만 확인
sample_data.values()

In [ ]:
# dict 데이터에서 (key, value)형태로 데이터를 출력력
sample_data.items()

In [ ]:
# 조건문 
# 조건식이 참인 경우 실행할 코드와 거짓인 경우 실행할 코드를 나눠서 작성 
# if ~ else문
a = 10
if (a > 5):
    # a보다 5보다 큰 경우에 실행할 코드 
    print('a는 5보다 크다')
else:
    # a가 5보다 작거나 같은 경우에 실행할 코드 
    print('a는 5보다 작거나 같다')

print('프로그램 종료')

In [ ]:
# 다중 조건문 
# if ~ elif ~ else
# int() -> 데이터를 숫자로 변경
# input() -> 데이터를 입력하는 공간을 생성하여 입력한 값을 문자로 되돌려준다.
score = int( input('점수를 입력하시오') )
print(score)

if (score >= 90):
    print('A')
elif (score >= 80):
    print('B')
elif (score >= 70):
    print('C')
else:
    print('F')

In [ ]:
# 반복문 
# for문 
# for문의 기본형태 -> for i in range(시작값, 종료값, 증가값):
# range() 함수 
# 시작값은 0이 기본값
# 증가값은 1이 기본값값
print(
    list(
        range(1, 10, 2)
        )
    )

In [ ]:
for i in range(1, 5, 1):
    # 몇번 반복? -> 1, 2, 3, 4
    print(i)

In [ ]:
for i in range(5):
    # 몇번 반복? -> 0, 1, 2, 3, 4
    print('반복')

In [ ]:
tuple_data = (3, 6, 1)
list_data = [8, 5, 1]
dict_data = {
    'id' : 'test', 'password' : '1111' 
}

In [ ]:
for i in tuple_data:
    print(i)

In [ ]:
for i in list_data:
    print(i)

In [89]:
# len함수를 이용해서 list_data의 값들을 하나씩 출력 
for i in range( len(list_data) ):
    # i에는 0, 1, 2 --> list_data의 index 값
    print(list_data[i])

8
5
1

In [87]:
for i in dict_data:
    # i에는 dcit_data의 key값들이 대입
    print(dict_data[i])

test
1111

In [ ]:
# while문
# 조건식이 거짓이 될때까지 반복 실행하는 구문 

# 초기값 지정 
i = 0

while i < 10:
    print(i)
    # i = i + 1
    i += 1

In [91]:
# 반복문을 강제로 종료 -> break
for i in range(1, 100, 1):
    # i에는 1부터 99까지 1씩 증가시켜 값이 대입 
    if i == 5:
        break
    print(i)

1
2
3
4

In [93]:
# 리스트 데이터는 원소의 개수가 0개부터 생성이 가능
# 1부터 100까지(range(1, 101, 1))의 숫자 중 3의 배수(3으로 나누었을때 나머지가 0인 경우)를 
# 하나의 리스트로 생성
list_data = []

for i in range(1, 101, 1):
    # 3의 배수 조건식 
    if i % 3 == 0:
        # 조건식이 참이면 -> list에 i를 추가(append)
        list_data.append(i)

print(list_data)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [94]:
# 1부터 10까지의 합계

# 누적합을 할수 있는 공간
result = 0

for i in range(1, 11, 1):
    # result에 i을 더하고 result에 대입 
    # result = result + i
    result += i
print(result)

55

In [95]:
# 1부터 10까지의 합계 while문
# 누적합 -> 0
result = 0
# 초기 값 1
i = 1

# while i <= 10:
while i < 11:
    # result 에 i를 더하고 result에 대입
    result += i
    # 증가값
    i += 1
print(result)

55

In [97]:
# continue -> 반복문으로 되돌아간다. 
for i in range(1, 10, 1):
    # i 는 1, 2, 3, 4, 5, 6, 7, 8, 9 대입
    if i < 5 :
        # i가 5보다 작은 경우 continue 실행
        continue
    print(i)

5
6
7
8
9

In [ ]:
# continue를 이용하여 1부터 100까지의 숫자 중 3의 배수만 리스트로 생성
list_data = []

for i in range(1, 101, 1):
    if i % 3 != 0:
        continue
    list_data.append(i)

list_data

In [99]:
# 2차원 리스트 데이터를 반복문을 이용해서 원소를 출력하기 
list_data2 = [
    [10, 20, 30, 40], 
    [15, 25, 35, 45], 
    [100, 200, 300, 400]
]

In [ ]:
for i in list_data2:
    # i에 대입되는 값? -> list_data2의 첫번째, 두번째, 세번째
    # i는 데이터의 타입? -> list
    # print(i)
    for j in i:
        # j에 대입되는 값은? -> i의 첫번째, ... 마지막 대입 
        print(j)
# for문 
    # 첫번째 반복 : i = [10, 20, 30, 40]
        # 두번째 반복문 for j in [10, 20, 30, 40]
            # 첫번째 반복 : i = [10, 20, 30, 40], j = 10
            # 두번째 반복 : i = [10, 20, 30, 40], j = 20
            # 세번째 반복 : j = 30
            # 네번째 반복 : j = 40 -> 반복문이 종료
    # 두번째 반복 : i = [15, 25, 35, 45]
        #두번째 반복문 for j in [15, 25, 35, 45]
            # 첫번째 반복 : j = 15

10
20
30
40
15
25
35
45
100
200
300
400

In [102]:
list_data = [30, 40, 20, 10]
# 반복문을 이용해서 sort() 기능 구현

# 첫번째 원소(index가 0)와 두번째 원소를 비교 -> 세번째 비교 -> 네번째 비교
min_data = list_data[0]
# min_data -> 30
if min_data > list_data[1]:
    # 30 > 40
    # min_data가 list_data[1]보다 크다면? list_data[1] 더 작다는 의미
    min_data = list_data[1]
# min_data -> 30
if min_data > list_data[2]:
    # 30 > 20 --> 참
    min_data = list_data[2]
# min_data -> 20
if min_data > list_data[3]:
    # 20 > 10 --> 참
    min_data = list_data[3]
# min_data -> 10
print(min_data)

10

In [108]:
list_data = [30, 40, 20, 10]
sort_data = []
for c in range(len(list_data)):
    min_data = list_data[0]
    for i in range(1, len(list_data), 1):
        # print(i)
        if min_data > list_data[i]:
            min_data = list_data[i]
    # print(min_data)
    # list_data에서 가장 작은 값을 sort_data에 추가 
    sort_data.append(min_data)
    # list_data에서 가장 작은 값을 제거 
    list_data.remove(min_data)
    print(sort_data)
    print(list_data)

[10]
[30, 40, 20]
[10, 20]
[30, 40]
[10, 20, 30]
[40]
[10, 20, 30, 40]
[]

In [109]:
# 문자열 내장 함수 
str_data = " Hello world "
str_data

' Hello world '

In [110]:
# 문자를 모두 대문자로 변경 upper()
str_data.upper()

' HELLO WORLD '

In [113]:
# 문자를 모두 소문자로 변경 lower()
str_data.lower()

' hello world '

In [114]:
# 대문자를 소문자로 소문자를 대문자로 변경 swapcase()
str_data.swapcase()

' hELLO WORLD '

In [115]:
# 단어의 첫글자를 대문자로 변경 title()
str_data.title()

' Hello World '

In [117]:
'Hello' == 'hello'.title()

True

In [118]:
# strip() -> 문자열에서 시작과 끝에 공백이 존재한다면서 공백을 제거 
# lstrip() -> 문자열의 왼쪽(시작)의 공백을 제거 
# rstrip() -> 문자열의 오른쪽(끝)의 공백을 제거 
str_data.strip()

'Hello world'

In [119]:
str_data.lstrip()

'Hello world '

In [120]:
str_data.rstrip()

' Hello world'

In [121]:
print(str_data)

 Hello world

In [123]:
# strip() 함수에 인자를 대입하면 해당 문자를 제거 
price1 = '10$'
price2 = '20$'

print(price1 + price2)

10$20$

In [126]:
# price1를 숫자형 데이터로 변환 int()
int( price1.rstrip('$') ) + int( price2.rstrip('$') )

30

In [131]:
price = '10,000원'
# int(price.rstrip('원'))
# strip() 함수는 문자열 중간에 있는 데이터를 변경이 불가능
# 문자을 찾아서 특정 문자를 다른 문자로 대체 replace(특정문자, 대체할문자)
price = price.rstrip('원')
int( price.replace( ',', '' ) )

10000

In [133]:
item_1 = '상품A'
item_2 = '상 품 A'
item_3 = '상 품 a'

In [135]:
# item_1과 item_2 그리고 item_3를 같다라는 비교연산자를 사용할때 True 나오게 하려면?
# 모든 문자는 대문자로 변경 
# 문자열 사이에 있는 공백을 모두 제거 
item_3 = item_3.upper()
item_2 = item_2.replace(' ', '')
item_3 = item_3.replace(' ', '')

In [136]:
print(item_1 == item_2)
print(item_1 == item_3)

True
True

In [138]:
# 문자열을 나눠주는 함수 split()
# 기본적으로는 문자의 공백으로 기준으로 문자를 나눠준다. -> 결과는 list
str_data = 'Hello World'
str_data.split()

['Hello', 'World']

In [139]:
str_data2 = 'ammbmmcmmd'
str_data2.split('mm')

['a', 'b', 'c', 'd']

In [144]:
sql_data = 'select * from table'
sql_data2 = 'SELECT * FROM table'
# sql_data가 select로 시작하는가?
data = 'select'

In [146]:
# sql_data에서 첫번째 문자(index 0)부터 6번째문자까지(7번째 전까지(index 6)) 출력
sql_data[0:len(data)] == data

True

In [148]:
sql_data2[:len(data)].lower() == data

True

In [151]:
sql_data.split()[0] == data

True

In [153]:
# 문자의 시작이 특정 문자와 같은가? -> startswith()
sql_data.startswith('select')

True

In [ ]:
# 문자의 마지막이 특정 문자와 같은가? endswith()
sql_data.endswith('table')

True

In [155]:
file_list = [
    '/csv/a.csv', 
    '/csv/b.csv', 
    '/csv/c.xlsx', 
    '/csv/d.json'
]

In [157]:
# file_list에서 확장자가 csv인 파일만 출력하려면?
for i in file_list:
    if i.endswith('csv'):
        print(i)

/csv/a.csv
/csv/b.csv