In [ ]:
import pandas as pd

In [ ]:
# csv 폴더에 있는 Sales Records.csv를 로드 
sales = pd.read_csv('../../csv/Sales Records.csv')

In [ ]:
sales.info()

In [ ]:
sales.describe()

In [ ]:
sales.head()

1. 'Order ID', 'Total Revenue', 'Total Cost', 'Total Profit', 'Order Priority' 컬럼을 제거 
2. 컬럼의 이름을 변경 : [대륙, 국가, 상품종류, 판매채널, 주문일자, 발송일자, 판매개수, 단가, 원가]
3. 대륙, 국가 기준으로 오름차순 정렬 
4. 파생변수 생성 
    - 총단가 = 단가 * 판매개수
    - 총원가 = 원가 * 판매개수
    - 총이윤 = 총단가 - 총원가

In [ ]:
df = sales.drop(
    [ 'Order ID', "Total Revenue", 'Total Cost', 'Total Profit',
    'Order Priority' ], 
    axis= 'columns'
)

In [ ]:
# 컬럼의 이름을 변경 
df.rename(
    columns = {
        'Region' : '대륙', 
        'Country' : '국가', 
        'Item Type' : '상품종류', 
        'Sales Channel' : '판매채널', 
        'Order Date' : '주문일자', 
        'Ship Date' : '발송일자', 
        'Units Sold' : '판매개수', 
        'Unit Price' : '단가', 
        'Unit Cost' : '원가'
    }
)

In [ ]:
df.columns = ['대륙', '국가', '상품종류', '판매채널', '주문일자', 
              '발송일자', '판매개수', '단가', '원가']

In [ ]:
# 대륙, 국가를 기준으로 오름차순 정렬 
# 오름차순의 기준이 2개
# 잘못된 예시
# df.sort_values('대륙', inplace=True)
# df.sort_values('국가', inplace=True)

df.sort_values( ['대륙', '국가'], inplace=True )

In [ ]:
# 총단가 파생변수 생성 
df['총단가'] = df['단가'] * df['판매개수']
df['총원가'] = df['원가'] * df['판매개수']
df['총이윤'] = df['총단가'] - df['총원가']

In [ ]:
# 대륙별 총이윤의 합계가 어느 대륙이 가장 높은가?

# 그룹화 -> groupby( 그룹화를 할 컬럼명 )
group_data = df.groupby( '대륙' )

group_data

In [ ]:
# 그룹화 데이터에서 특정 그룹을 선택 
group_data.get_group('Asia')

In [ ]:
# 그룹화 -> 그룹화 연산 
group_data.sum()[ ['총이윤'] ]

In [ ]:
group_data[ ['총이윤'] ].mean()

In [ ]:
df.groupby('대륙')[['총이윤']].mean()

In [ ]:
df[['대륙','총이윤']].groupby('대륙').mean()

In [ ]:
group_data[['총이윤']].sum().sort_values('총이윤', ascending=False)

In [ ]:
# pivot_table() -> 테이블 데이터를 재구조화
# index를 어떠한 기준으로 사용할것인가?
# columns를 어떤 기준으로 사용할것인가?
# values는 어떤 데이터를 이용할것인가?
# 연산이 필요하다면 연산
# 라이브러리 안에 있는 함수를 호출할때는 데이터를 가지고 있지 않기 때문에 
# 어떠한 데이터를 변경할것인가? 인자로 사용
# 클래스 안에 있는 함수를 호출할때는 클래스가 기존 데이터를 가지고 있기 때문에 
# 어떠한 데이터를 변경할것인가는 인자에 사용하지 않는다. 
pd.pivot_table(
    df, 
    index = ['대륙'], 
    values = ['총이윤'], 
    aggfunc= 'sum'
)

In [46]:
df.pivot_table(
    index = ['대륙'], 
    values = ['총이윤'], 
    columns = ['상품종류'],
    aggfunc= 'sum'
)

                                            총이윤                             \
상품종류                                  Baby Food    Beverages        Cereal
대륙
Asia                               6.379205e+07   8647185.78  5.369351e+07
Australia and Oceania              3.246289e+07   3629612.16  3.334722e+07
Central America and the Caribbean  3.282390e+07   7199497.08  3.832536e+07
Europe                             9.687343e+07  14728699.80  1.010923e+08
Middle East and North Africa       5.101554e+07   8035130.34  4.530572e+07
North America                      1.238502e+07   1474138.44  6.353586e+06
Sub-Saharan Africa                 1.129722e+08  17523164.16  9.426100e+07

                                                                          \
상품종류                                   Clothes     Cosmetics      Fruits
대륙
Asia                               38864007.36  1.036069e+08  1252062.48
Australia and Oceania              28834453.44  6.760413e+07   746478.22
Central America and the Caribbean  31311217.44  5.676560e+07   997462.85
Europe                             83293885.44  1.989963e+08  2536662.37
Middle East and North Africa       44564199.84  8.846540e+07  1265447.62
North America                       8032573.44  2.139140e+07   157693.53
Sub-Saharan Africa                 84736247.04  1.766093e+08  2818962.54

                                                                             \
상품종류                                  Household        Meat Office Supplies
대륙
Asia                               9.787616e+07  32550460.8    9.004857e+07
Australia and Oceania              6.132358e+07  17237563.2    2.916577e+07
Central America and the Caribbean  8.873831e+07  23381415.2    5.678574e+07
Europe                             1.702985e+08  64302867.2    1.423337e+08
Middle East and North Africa       1.025355e+08  27855141.6    6.345035e+07
North America                      2.148805e+07   5426850.0    1.143547e+07
Sub-Saharan Africa                 1.764783e+08  57210010.0    1.269636e+08


상품종류                              Personal Care       Snacks   Vegetables
대륙
Asia                                17030249.74  34430739.36  45611425.00
Australia and Oceania                8498372.26  18276153.00  22944977.28
Central America and the Caribbean   10840930.94  25913925.24  30274496.54
Europe                              29402346.68  56154410.58  66986485.44
Middle East and North Africa        15533791.84  26541528.72  35356145.89
North America                        2366490.98   4584835.86   4399403.44
Sub-Saharan Africa                  26662662.18  61428551.58  61978193.15

In [48]:
# 그룹화 -> 대륙, 상품종류
# 그룹화 연산 -> 총 이윤의 합계
group_data = df.groupby( ['대륙', '상품종류'] )['총이윤'].sum()

In [51]:
# 인덱스의 기준을 컬럼으로 이동
# unstack() : 인덱스의 기준을 컬럼으로 이동
group_data.unstack()

상품종류,Baby Food,Beverages,Cereal,Clothes,Cosmetics,Fruits,Household,Meat,Office Supplies,Personal Care,Snacks,Vegetables
대륙,,,,,,,,,,,,
Asia,6.379205e+07,8647185.78,5.369351e+07,38864007.36,1.036069e+08,1252062.48,9.787616e+07,32550460.8,9.004857e+07,17030249.74,34430739.36,45611425.00
Australia and Oceania,3.246289e+07,3629612.16,3.334722e+07,28834453.44,6.760413e+07,746478.22,6.132358e+07,17237563.2,2.916577e+07,8498372.26,18276153.00,22944977.28
Central America and the Caribbean,3.282390e+07,7199497.08,3.832536e+07,31311217.44,5.676560e+07,997462.85,8.873831e+07,23381415.2,5.678574e+07,10840930.94,25913925.24,30274496.54
Europe,9.687343e+07,14728699.80,1.010923e+08,83293885.44,1.989963e+08,2536662.37,1.702985e+08,64302867.2,1.423337e+08,29402346.68,56154410.58,66986485.44
Middle East and North Africa,5.101554e+07,8035130.34,4.530572e+07,44564199.84,8.846540e+07,1265447.62,1.025355e+08,27855141.6,6.345035e+07,15533791.84,26541528.72,35356145.89
North America,1.238502e+07,1474138.44,6.353586e+06,8032573.44,2.139140e+07,157693.53,2.148805e+07,5426850.0,1.143547e+07,2366490.98,4584835.86,4399403.44
Sub-Saharan Africa,1.129722e+08,17523164.16,9.426100e+07,84736247.04,1.766093e+08,2818962.54,1.764783e+08,57210010.0,1.269636e+08,26662662.18,61428551.58,61978193.15

In [ ]:
# 대륙, 상품종류를 기준으로 그룹화
# 판매개수의 합계를 구한다. 
# 아시아에서 가장 많이 팔린 상품의 종류를 확인

In [53]:
# case1
# groupby() --> DataFrame
case1_data = df.groupby(['대륙', '상품종류'])[ ['판매개수'] ].sum()

In [ ]:
# index가 Asia인 데이터만 추출
case1_data.loc['Asia', ].sort_values('판매개수', ascending=False)

In [ ]:
# case2
# groupby() --> Series
case2_data = df.groupby(['대륙', '상품종류'])[ '판매개수' ].sum()
case2_data = case2_data.unstack()
case2_data

In [ ]:
# Series 데이터에서 sort_values()함수는 기준이 되는 데이터를 지정X
case2_data.loc['Asia', ].sort_values(ascending=False)

In [ ]:
# case3 
# pivot_table() 함수를 이용
case3_data = df.pivot_table(
    index = '대륙', 
    values = '판매개수', 
    columns = '상품종류', 
    aggfunc= 'sum'
)
case3_data

In [61]:
case3_data.loc['Asia', ].sort_values(ascending=False)

상품종류
Vegetables         722500
Office Supplies    713256
Personal Care      679579
Baby Food          665471
Snacks             624424
Cereal             606090
Cosmetics          595887
Household          590576
Meat               569064
Beverages          552183
Clothes            529194
Fruits             519528
Name: Asia, dtype: int64