In [ ]:
import pandas as pd

In [ ]:
# csv 폴더에 있는 Sales Records.csv를 로드 
sales = pd.read_csv('../../csv/Sales Records.csv')

In [ ]:
sales.info()

In [ ]:
sales.describe()

In [ ]:
sales.head()

1. 'Order ID', 'Total Revenue', 'Total Cost', 'Total Profit', 'Order Priority' 컬럼을 제거 
2. 컬럼의 이름을 변경 : [대륙, 국가, 상품종류, 판매채널, 주문일자, 발송일자, 판매개수, 단가, 원가]
3. 대륙, 국가 기준으로 오름차순 정렬 
4. 파생변수 생성 
    - 총단가 = 단가 * 판매개수
    - 총원가 = 원가 * 판매개수
    - 총이윤 = 총단가 - 총원가

In [ ]:
df = sales.drop(
    [ 'Order ID', "Total Revenue", 'Total Cost', 'Total Profit',
    'Order Priority' ], 
    axis= 'columns'
)

In [ ]:
# 컬럼의 이름을 변경 
df.rename(
    columns = {
        'Region' : '대륙', 
        'Country' : '국가', 
        'Item Type' : '상품종류', 
        'Sales Channel' : '판매채널', 
        'Order Date' : '주문일자', 
        'Ship Date' : '발송일자', 
        'Units Sold' : '판매개수', 
        'Unit Price' : '단가', 
        'Unit Cost' : '원가'
    }
)

In [ ]:
df.columns = ['대륙', '국가', '상품종류', '판매채널', '주문일자', 
              '발송일자', '판매개수', '단가', '원가']

In [ ]:
# 대륙, 국가를 기준으로 오름차순 정렬 
# 오름차순의 기준이 2개
# 잘못된 예시
# df.sort_values('대륙', inplace=True)
# df.sort_values('국가', inplace=True)

df.sort_values( ['대륙', '국가'], inplace=True )

In [ ]:
# 총단가 파생변수 생성 
df['총단가'] = df['단가'] * df['판매개수']
df['총원가'] = df['원가'] * df['판매개수']
df['총이윤'] = df['총단가'] - df['총원가']

In [ ]:
# 대륙별 총이윤의 합계가 어느 대륙이 가장 높은가?

# 그룹화 -> groupby( 그룹화를 할 컬럼명 )
group_data = df.groupby( '대륙' )

group_data

In [ ]:
# 그룹화 데이터에서 특정 그룹을 선택 
group_data.get_group('Asia')

In [ ]:
# 그룹화 -> 그룹화 연산 
group_data.sum()[ ['총이윤'] ]

In [ ]:
group_data[ ['총이윤'] ].mean()

In [ ]:
df.groupby('대륙')[['총이윤']].mean()

In [ ]:
df[['대륙','총이윤']].groupby('대륙').mean()

In [34]:
group_data[['총이윤']].sum().sort_values('총이윤', ascending=False)

                                            총이윤
대륙
Europe                             1.027000e+09
Sub-Saharan Africa                 9.996421e+08
Asia                               5.874033e+08
Middle East and North Africa       5.099239e+08
Central America and the Caribbean  4.033578e+08
Australia and Oceania              3.240712e+08
North America                      9.949552e+07